* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.upper-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.else-loader{
  width: 60%;
}

.upper {
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.menTextColor {
  color: #002772;
}

.womenTextColor {
  color: #720060;
}

.menColor {
  background-color: #d6e6ff;
  background-image: url("../bg-pattern.svg");
}

.womenColor {
  background-color: #fde2ff;
  background-image: url("../bg-pattern.svg");
}

.defaultColor {
  background-color: #dcdcdc;
}

.bottom {
  height: 70%;
  margin-bottom: 300px;
  background-color: #fff;
}

.product-card {
  width: 100%;
  height: 630px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card .product-image {
  max-width: 250px;
  height: auto;
  border-bottom: 1px solid #eee;
  margin: 0 56px;
}

.container {
  margin: 0 60px;
  text-align: left;
}

.tittle {
  -webkit-line-clamp: 2;
  height: 4rem;
}

.head-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-rated {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  margin-left: 1px;
  margin-right: 1px;
}

.menRatingRated {
  background-color: #002772;
  border-color: #002772;
}

.womenRatingRated {
  background-color: #720060;
  border-color: #720060;
}

.menRatingUnrated {
  border-color: #002772;
}

.womenRatingUnrated {
  border-color: #720060;
}

.product-card .category {
  color: #3f3f3f;
  flex-grow: 1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1px;
}

.product-card .description {
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  height: 15rem;
  text-align: left;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 10px;
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-card .price {
  font-size: 2em;
  margin: 20px 5px;
  font-weight: bold;
  margin: auto;
}

.button-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.product-card .buy-now,
.product-card .next-product {
  width: 259px;
  height: 42px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.buy-now {
  color: #fff;
  box-shadow: none;
}

.next-product {
  border-width: 3px;
  border-style: solid;
  background-color: #fff;
}

.menBuyButton {
  background: #002772;
  border-color: #002772;
}

.womenBuyButton {
  background: #720060;
  border-color: #720060;
}

.menNextButton {
  border-color: #002772;
  color: #002772;
}

.womenNextButton {
  border-color: #720060;
  color: #720060;
}

.product-unavailable {
  width: 100%;
  background-image: url(../sad-face.svg);
  background-repeat: no-repeat;
  background-size: center;
  background-position: center;
  flex-direction: column;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loader-overlay {
  width: 60% !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


